<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>
<body class="login-body">
<header th:replace="fragments/fragment :: header"></header>

<main>
    <section>
        <h1>About Us</h1>
        <p id="PPp">
            We are a group of IT College Students that love watching movies and learning foreign languages. <br><br>
            As you know there are many movie streaming websites on the internet but most of them contain a lot of annoying ads
            (popup, popunder ad, ..) and there are malware, viruses. <br>
            That's why we make this project, using our knowledge about IT we develope FshareTV with the final goal to bring you a safe place with
            happiness when enjoying movies, we also help you improve your language skill with several subtitle features. <br>
        </p>
        <p id="PPp">
            <b>Some rules of the website:</b>
        </p>
        <ul id="AUul">
            <li>
                There are students and childrens watching movies on the site so please mind your words, be polite in comments. <br>
            </li>
            <li>
                Racist is totally not accepted
            </li>
            <li>
                If you are seeing ads that contain nudity or sensity images, please take a screenshot and report to us
            </li>
        </ul>


    </section>
</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
<script th:replace="fragments/fragment :: script"></script>

</body>
</html>